{% extends('base.html.twig') %}
{% block body %}
    <div class="container py-5">

        <!-- For demo purpose -->
        <div class="row text-center text-white mb-5">
            <div class="col-lg-7 mx-auto">
                <h1 class="display-4">Visi mano įkelti skelbimai</h1>
                </p>
            </div>
        </div>
        <!-- End -->

        <div class="row">
            <div class="col-lg-8 mx-auto">
                {% for forest in forests %}
                {% set action = forest.getAction %}
                {% set size = forest.getSize %}
                {% set wood = forest.getWood %}
                {% set city = forest.getCity %}
                {% set adress = forest.getAdress %}
                <!-- List group-->
                <ul class="list-group shadow">



                    <!-- list group item-->
                    <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2">{{ action }}</h5>
                                <p class="font-italic text-muted mb-0 small">{{ action }}, {{ size }}, {{ wood }}, {{ city }}, {{ adress }}</p>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                </div>
                            </div>
                            <!-- End -->
                        </div>
                    </li>
                    <!-- End -->
                    <!-- End -->
                    {% endfor %}
                </ul>
                <!-- End -->
            </div>
        </div>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}